In [4]:
import pandas as pd
from sqlalchemy import create_engine

# Extraction

dataFrame = pd.read_excel("./dataset_account.xlsx", engine="openpyxl")

dataFrameProduct = pd.read_excel(
    "./dataset_account.xlsx", sheet_name="product mapping", engine="openpyxl"
)
dataFrameBranch = pd.read_excel(
    "./dataset_account.xlsx", sheet_name="branch mapping", engine="openpyxl"
)

dataFrame["BankCode"] = dataFrame["noCompte"].astype(str).str[0:5]
dataFrame["BranchCode"] = dataFrame["noCompte"].astype(str).str[6:11]
dataFrame["ProductCode"] = dataFrame["noCompte"].astype(str).str[12]
dataFrame["AccountNumber"] = dataFrame["noCompte"].astype(str).str[11:19]


def format(branchCode):
    return ("00000000000000000000000" + str(branchCode))[-5:]


dataFrameBranch["CodeBranch"] = dataFrameBranch.apply(lambda row: format(row["CodeBranch"]), axis=1)


dataFrame["BranchCode"] = dataFrame["BranchCode"].astype(str)
dataFrameBranch["CodeBranch"] = dataFrameBranch["CodeBranch"].astype(str)
dataFrame["BranchCode"] = dataFrame["BranchCode"].astype(str)
dataFrameProduct["productCode"] = dataFrameProduct["productCode"].astype(str)
dataFrame["ProductCode"] = dataFrame["ProductCode"].astype(str)


dataFrameMerged = pd.merge(
    dataFrame, dataFrameProduct, left_on="ProductCode", right_on="productCode", how="left"
)

dataFrameMerged = pd.merge(
    dataFrameMerged, dataFrameBranch, left_on="BranchCode", right_on="CodeBranch", how="left"
)

dataFrameMerged = dataFrameMerged.drop(columns=["productCode"])

dataFrameMerged = dataFrameMerged[dataFrameMerged["AccountStatus"] == "Active"]

dataFrameMerged["OpeningDate"] = pd.to_datetime(dataFrameMerged["OpeningDate"])
dataFrameMerged["Report_date_to"] = pd.to_datetime(dataFrameMerged["Report_date_to"])
dataFrameMerged["AvailableBalance"] = pd.to_numeric(dataFrameMerged["AvailableBalance"])

dataFrameMerged["AccountAgeDays"] = (
    dataFrameMerged["Report_date_to"] - dataFrameMerged["OpeningDate"]
).dt.days

dataFrameMerged["AccountAgeYears"] = (dataFrameMerged["AccountAgeDays"] / 365).round(2)

dataFrameMerged

# # Étape 3 - Agrégation

numberAccountsByBranch = dataFrameMerged.groupby("Branch").size().reset_index(name="numberOfCompte")

totalBalanceByBranch = (
    dataFrameMerged.groupby("Branch")["AvailableBalance"]
    .sum()
    .reset_index(name="TotalAvailableBalance")
)

averageBalanceByProduct = (
    dataFrameMerged.groupby(["ProductCode", "Product"])["AvailableBalance"]
    .mean()
    .reset_index(name="AverageAvailableBalance")
)
averageAccountByProduct = (
    dataFrameMerged.groupby(["ProductCode", "Product"]).size().reset_index(name="numberOfCompte")
)

topGestionnaires = (
    dataFrameMerged.groupby("gestionnaire de compte")["AvailableBalance"]
    .sum()
    .nlargest(10)
    .reset_index(name="TotalBalance")
)

averageAgeByBranch = (
    dataFrameMerged.groupby("Branch")["AccountAgeYears"]
    .mean()
    .reset_index(name="AverageAccountAgeYears")
)

averageAgeByBranch = (
    dataFrameMerged.groupby("Branch")["AccountAgeYears"]
    .mean()
    .reset_index(name="AverageAccountAgeYears")
)

averageAgeByManager = (
    dataFrameMerged.groupby("gestionnaire de compte")["AccountAgeYears"]
    .mean()
    .reset_index(name="AverageAccountAgeYears")
)


actifAccountNumber = (dataFrameMerged["AccountStatus"] == "Active").sum()


engine = create_engine("postgresql://asja:asjauniversity@localhost:5432/asjadb")

dataFrameMerged.to_sql("dataFrame", engine, if_exists="replace", index=False)

numberAccountsByBranch.to_sql("numberAccountsByBranch", engine, if_exists="replace", index=False)
totalBalanceByBranch.to_sql("totalBalanceByBranch", engine, if_exists="replace", index=False)

averageBalanceByProduct.to_sql("averageBalanceByProduct", engine, if_exists="replace", index=False)
averageAccountByProduct.to_sql("averageAccountByProduct", engine, if_exists="replace", index=False)

topGestionnaires.to_sql("topGestionnaires", engine, if_exists="replace", index=False)


averageAgeByBranch.to_sql("averageAgeByBranch", engine, if_exists="replace", index=False)

averageAgeByBranch.to_sql("averageAgeByBranch", engine, if_exists="replace", index=False)

averageAgeByManager.to_sql("averageAgeByManager", engine, if_exists="replace", index=False)

452

In [47]:
dataFrameMerged = dataFrameMerged[dataFrameMerged["AccountStatus"] == "Active"]
dataFrameMerged

,Code,noCompte,AvailableBalance,OpeningDate,AccountStatus,Report_date_to,gestionnaire de compte,BankCode,BranchCode,ProductCode,AccountNumber,productCode,Product,CodeBranch,Branch
0,CLNT-00005640,00115 00001 90000316601 39,1.698926e+09,2024-12-30,Active,2024-12-31,Yanis Blanchard,00115,00001,9,9000031,9,Dépôt à Terme,00001,Champagne-Ardenne
1,CLNT-00022135,00115 00004 90000316600 53,1.322200e+09,2024-12-06,Active,2024-12-31,Sergei Titov,00115,00004,9,9000031,9,Dépôt à Terme,00004,Bourgogne
2,CLNT-00084246,00115 00014 80000316599 27,1.117828e+09,2022-05-23,Active,2024-12-31,Samuel Otieno,00115,00014,8,8000031,8,Compte Epargne,00014,Franche-Comté
3,CLNT-00005629,00115 00001 80000316598 31,1.061136e+09,2023-11-28,Active,2024-12-31,Enzo Giraud,00115,00001,8,8000031,8,Compte Epargne,00001,Champagne-Ardenne
4,CLNT-00005639,00115 00001 90000316597 53,1.000000e+09,2024-12-10,Active,2024-12-31,Enzo Giraud,00115,00001,9,9000031,9,Dépôt à Terme,00001,Champagne-Ardenne
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316596,CLNT-00096913,00115 02001 80000000009 46,0.000000e+00,2022-05-04,Active,2024-12-31,Timéo Guillet,00115,02001,8,8000000,8,Compte Epargne,02001,Nord-Pas-de-Calais
316597,CLNT-00096916,00115 02001 80000000012 25,0.000000e+00,2024-02-21,Active,2024-12-31,Timéo Guillet,00115,02001,8,8000000,8,Compte Epargne,02001,Nord-Pas-de-Calais
316598,CLNT-00096919,00115 02001 80000000068 25,0.000000e+00,2019-06-17,Active,2024-12-31,Jérémy Lacroix,00115,02001,8,8000000,8,Compte Epargne,02001,Nord-Pas-de-Calais
316599,CLNT-00096911,00115 02001 80000000007 52,0.000000e+00,2021-03-23,Active,2024-12-31,Timéo Guillet,00115,02001,8,8000000,8,Compte Epargne,02001,Nord-Pas-de-Calais
316600,CLNT-00009466,00115 00003 70000000001 19,-6.600000e+03,2016-09-09,Active,2024-12-31,Julien Besson,00115,00003,7,7000000,7,Compte a vue,00003,Languedoc-Roussillon

In [3]:
numberAccountsByBranch = dataFrameMerged.groupby("Branch").size().reset_index(name="Compte")
numberAccountsByBranch

                               Branch  Compte
0                              Alsace    6314
1                           Aquitaine    9528
2                            Auvergne    7593
3                     Basse-Normandie     348
4                           Bourgogne    6590
5                            Bretagne    7122
6                              Centre    2634
7                   Champagne-Ardenne    5640
8                               Corse    2825
9                       Franche-Comté    3524
10                    Haute-Normandie    5103
11               Languedoc-Roussillon    6080
12                           Limousin    7896
13                           Lorraine    5276
14                      Midi-Pyrénées      69
15                 Nord-Pas-de-Calais  219691
16                   Pays de la Loire     703
17                           Picardie    4050
18                   Poitou-Charentes     879
19  Provence-Alpes-Côte d’Azur (PACA)    3825
20                        Rhône-Alpes    5870
21                  Sud-Pas-de-Calais    1156
22                      Île-de-France    3885

In [50]:
totalBalanceByBranch = (
    dataFrameMerged.groupby("Branch")["AvailableBalance"]
    .sum()
    .reset_index(name="TotalAvailableBalance")
)
totalBalanceByBranch

                               Branch  TotalAvailableBalance
0                              Alsace           2.136488e+09
1                           Aquitaine           2.741254e+09
2                            Auvergne           7.736449e+08
3                     Basse-Normandie           2.032248e+09
4                           Bourgogne           3.506782e+09
5                            Bretagne           1.965211e+09
6                              Centre           2.018167e+08
7                   Champagne-Ardenne           1.275999e+10
8                               Corse           3.405437e+08
9                       Franche-Comté           1.652575e+09
10                    Haute-Normandie           7.168174e+08
11               Languedoc-Roussillon           5.759243e+08
12                           Limousin           2.976649e+09
13                           Lorraine           1.050027e+09
14                      Midi-Pyrénées           4.670428e+07
15                 Nord-Pas-de-Calais           1.485973e+09
16                   Pays de la Loire           6.602441e+08
17                           Picardie           4.681664e+08
18                   Poitou-Charentes           1.266196e+09
19  Provence-Alpes-Côte d’Azur (PACA)           6.059942e+08
20                        Rhône-Alpes           8.532639e+08
21                  Sud-Pas-de-Calais           4.527585e+08
22                      Île-de-France           5.635509e+08

In [4]:
averageBalanceByProduct = (
    dataFrameMerged.groupby(["ProductCode", "Product"])["AvailableBalance"]
    .mean()
    .reset_index(name="AverageAvailableBalance")
)
averageBalanceByProduct

  ProductCode            Product  AverageAvailableBalance
0           1  Compte a vue Lite             5.511800e+01
1           7       Compte a vue             1.775736e+05
2           8     Compte Epargne             8.992547e+04
3           9      Dépôt à Terme             3.913321e+08

In [56]:
averageAccountByProduct = (
    dataFrameMerged.groupby(["ProductCode", "Product"]).size().reset_index(name="Compte")
)
averageAccountByProduct

  ProductCode            Product  Compte
0           1  Compte a vue Lite       4
1           7       Compte a vue   44932
2           8     Compte Epargne  271578
3           9      Dépôt à Terme      19

In [5]:
topGestionnaires = (
    dataFrameMerged.groupby("gestionnaire de compte")["AvailableBalance"]
    .sum()
    .nlargest(10)
    .reset_index(name="TotalBalance")
)
topGestionnaires

  gestionnaire de compte  TotalBalance
0            Enzo Giraud  4.450647e+09
1        Yanis Blanchard  2.549231e+09
2              Léa Caron  1.887348e+09
3           Sergei Titov  1.491131e+09
4          Samuel Otieno  1.251539e+09
5     Tiana Ravelomanana  1.011658e+09
6          Samira Farouk  9.232445e+08
7          Bruno Almeida  9.201887e+08
8         Jérémy Lacroix  7.999519e+08
9               Wang Tao  7.965721e+08

In [6]:
actifAccountNumber = (dataFrameMerged["AccountStatus"] == "Active").sum()
actifAccountNumber

np.int64(316533)

In [7]:
averageAgeByBranch = (
    dataFrameMerged
    .groupby("Branch")["AccountAgeYears"]
    .mean()
    .reset_index(name="AverageAccountAgeYears")
)
averageAgeByBranch

                               Branch  AverageAccountAgeYears
0                              Alsace                4.736139
1                           Aquitaine                4.651051
2                            Auvergne                3.517215
3                     Basse-Normandie                0.292299
4                           Bourgogne                3.734608
5                            Bretagne                4.566311
6                              Centre                1.194487
7                   Champagne-Ardenne                4.342028
8                               Corse                1.256899
9                       Franche-Comté                2.289589
10                    Haute-Normandie                3.281485
11               Languedoc-Roussillon                3.626393
12                           Limousin                4.387168
13                           Lorraine                3.771712
14                      Midi-Pyrénées                0.090870
15                 Nord-Pas-de-Calais                3.748831
16                   Pays de la Loire                1.624168
17                           Picardie                1.539988
18                   Poitou-Charentes                0.519170
19  Provence-Alpes-Côte d’Azur (PACA)                4.453652
20                        Rhône-Alpes                4.105048
21                  Sud-Pas-de-Calais                0.500346
22                      Île-de-France                3.213946

In [8]:
averageAgeByProduct = (
    dataFrameMerged
    .groupby(["ProductCode", "Product"])["AccountAgeYears"]
    .mean()
    .reset_index(name="AverageAccountAgeYears")
)
averageAgeByProduct

  ProductCode            Product  AverageAccountAgeYears
0           1  Compte a vue Lite                0.116000
1           7       Compte a vue                4.609559
2           8     Compte Epargne                3.568057
3           9      Dépôt à Terme                0.232632

In [9]:
averageAgeByManager = (
    dataFrameMerged
    .groupby("gestionnaire de compte")["AccountAgeYears"]
    .mean()
    .reset_index(name="AverageAccountAgeYears")
)

averageAgeByManager

    gestionnaire de compte  AverageAccountAgeYears
0            Adam Fontaine                4.596535
1           Adam Kowalczyk                1.391250
2              Adil Amrani                1.122069
3            Adnan Bakkali                0.103226
4          Adriana Ionescu                0.752481
..                     ...                     ...
447      Zina Ramalanjaona                0.022000
448           Zineb Karimi                0.500000
449            Zoe Simmons                4.908000
450             Zoé Masson                4.395917
451          Zuzanna Nowak                1.105116

[452 rows x 2 columns]