In [ ]:
mockDataBase = { "Alice" : (19 , ["Rust" , "Golang" , 'C']) , "Rado" : (23 , ["Rust" , "Python" ]) , 'Koto' : (40  , ["Python" , "JS" , "VB"])}

def optimized(mock) :
  listSkills = []
  result = {}

  for key in mock.keys():
    for value in mock[key][1]:
      listSkills.append(value)

  for value in set(listSkills):
    result[value] = listSkills.count(value)

  return result

In [14]:
optimized(mockDataBase)

{'JS': 1, 'Golang': 1, 'C': 1, 'Python': 2, 'VB': 1, 'Rust': 2}

In [15]:
userAndSkills =[]
for key in mockDataBase.keys():
  userAndSkills.append({ "Name" : key , "Age" :mockDataBase[key][0] , "Skills" : mockDataBase[key][1] })

In [16]:
userAndSkills

[{'Name': 'Alice', 'Age': 19, 'Skills': ['Rust', 'Golang', 'C']},
 {'Name': 'Rado', 'Age': 23, 'Skills': ['Rust', 'Python']},
 {'Name': 'Koto', 'Age': 40, 'Skills': ['Python', 'JS', 'VB']}]

In [50]:
sentence = "Bonjour Minonja Teny Lavalava"
filtred = sentence.split(' ')

In [51]:
filtred

['Bonjour', 'Minonja', 'Teny', 'Lavalava']

In [52]:
stringList = ['Bonjour' , 'Dianah']
" ".join(stringList)

'Bonjour Dianah'

In [23]:
def concante(*args):
    str = ""
    for value in args :
        str += value
    return str
concante("dera ", "le grand ", "qui ", "dit ", "bonjour ", "pour ", "tout ", "le ", "monde ")

'dera le grand qui dit bonjour pour tout le monde '

In [2]:
import pandas as pd

dicData = {"Name": ["Koto", "dera", "Toto"], "Age": [12, 14, 19]}

dfPerson = pd.DataFrame(dicData)
dfPerson

   Name  Age
0  Koto   12
1  dera   14
2  Toto   19

In [3]:
import pandas as pd
import psycopg2

connexion = psycopg2.connect(host='10.42.0.1' , port=5432 , dbname ='postgres' , user='asja' , password='asjauniversity')

sqlQuery= 'SELECT * FROM public.account'

dfLoan = pd.read_sql(sqlQuery , connexion)
dfLoan

/tmp/ipykernel_3613/3123535546.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfLoan = pd.read_sql(sqlQuery , connexion)

,clientID,AccountNumber,accountID,PrincipalBalanceCRY,Produit,openingDate
0,927465,00115 00009 70000047540 17,10812546,750.06,Compte a vue,2023-02-20
1,410809,00115 00004 70000047557 41,10815120,15054.40,Compte a vue,2023-02-20
2,927479,00115 00017 70000047562 25,10815924,2203599.87,Compte a vue,2023-02-20
3,926982,00115 00007 70000047567 63,10816692,2647.23,Compte a vue,2023-02-20
4,926683,00115 00007 70000047571 51,10817311,9960.32,Compte a vue,2023-02-20
...,...,...,...,...,...,...
730800,789142,00115 02001 80000308795 55,7045983,0.00,DFS Saving Account,2021-06-30
730801,789154,00115 02001 80000308804 28,7046083,1.60,DFS Saving Account,2021-06-30
730802,789156,00115 02001 80000308806 22,7046098,1.09,DFS Saving Account,2021-06-30
730803,789157,00115 02001 80000308807 19,7046216,0.82,DFS Saving Account,2021-06-30
730804,789161,00115 02001 80000308811 07,7046298,0.00,DFS Saving Account,2021-06-30

In [8]:
dfLoan.head(10)

,clientID,RealDisbursementDate,MaturityDateCurrent,InstallmentsCurrent,AgreementNumber,DisbursedAmount,Encours,DaysInArrears,Cycle,Product,LoanOfficer,Branch,CreationDate
0,999999198,2020-10-27,2023-11-13,36,01150000001-01-0340457-00001,10270000.0,1863693.49,848,1,MF SERVICES ET PRODUCTION,Noëlin Tiana RAVELOMANANTSOA,Antsahavola,2025-11-11
1,16923,2020-03-24,2021-03-24,12,01150000003-01-0016923-00002,10270000.0,0.00,0,2,MF ELEVAGE,Santamamiratriniaina Dessica RAHAJASON,Analavory,2025-11-11
2,465462,2020-11-25,2021-11-10,12,01150000004-01-0342207-00001,3902600.0,0.00,0,1,MF COMMERCE,François Michel Aimé RAKOTONANDRIANA,Mahajanga,2025-11-11
3,39187,2019-12-19,2020-12-21,12,01150000006-01-0039187-00001,2772900.0,0.00,0,1,MF COMMERCE,Zahaniny Justo ZAFY,Antsohihy,2025-11-11
4,45521,2020-02-26,2021-02-26,12,01150000006-01-0045521-00002,1027000.0,0.00,0,2,MF COMMERCE,Dano Hardy Hamatra ANDRIAMANDIMBY,Antsohihy,2025-11-11
5,41668,2020-03-17,2023-05-11,36,01150000006-02-0041668-00001,39026000.0,28771912.65,1429,1,PME COMMERCE,Dano Hardy Hamatra ANDRIAMANDIMBY,Antsohihy,2025-11-11
6,59291,2020-06-22,2021-07-06,12,01150000008-01-0059291-00002,3594500.0,0.00,0,2,MF COMMERCE,Houssen MOUSTAFA,Ambanja,2025-11-11
7,74401,2019-12-28,2020-12-28,12,01150000011-01-0074401-00001,4108000.0,0.00,0,1,MF COMMERCE,Odon Michel Tsiory ANDRIAFANOMEZANTSOA,Mampikony,2025-11-11
8,339820,2020-10-19,2023-10-16,36,01150000014-02-0339820-00001,21567000.0,0.00,0,1,PME COMMERCE,Lalanirina RAHAJANIAINA,Ankasina,2025-11-11
9,328207,2019-12-23,2022-06-23,30,01150000014-04-0328207-00001,1012000.0,0.00,0,1,CREDIT HABITAT,Mamy Hasina FANJA ANDRIAMANANTENA,Ankasina,2025-11-11

In [2]:
dfLoan.describe()

,clientID,InstallmentsCurrent,DisbursedAmount,Encours,DaysInArrears,Cycle
count,1.565220e+05,156522.000000,1.565220e+05,1.565220e+05,156522.000000,156522.000000
mean,9.452178e+05,3.147864,1.343204e+06,9.728557e+05,14.755133,21.085042
std,2.545690e+06,6.460904,8.433403e+06,6.047643e+06,47.143148,33.531283
min,7.200000e+01,1.000000,3.000000e+03,-3.472380e+04,0.000000,1.000000
25%,7.955642e+05,1.000000,1.200000e+04,1.200000e+04,0.000000,3.000000
50%,1.060243e+06,1.000000,8.400000e+04,8.000000e+04,0.000000,9.000000
75%,1.186626e+06,1.000000,5.000000e+05,4.300000e+05,2.000000,21.000000
max,9.999992e+08,108.000000,8.112179e+08,5.690621e+08,1868.000000,951.000000

In [3]:
dfLoan.loc[0:5]

,clientID,RealDisbursementDate,MaturityDateCurrent,InstallmentsCurrent,AgreementNumber,DisbursedAmount,Encours,DaysInArrears,Cycle,Product,LoanOfficer,Branch,CreationDate
0,999999198,2020-10-27,2023-11-13,36,01150000001-01-0340457-00001,10270000.0,1863693.49,848,1,MF SERVICES ET PRODUCTION,Noëlin Tiana RAVELOMANANTSOA,Antsahavola,2025-11-11
1,16923,2020-03-24,2021-03-24,12,01150000003-01-0016923-00002,10270000.0,0.00,0,2,MF ELEVAGE,Santamamiratriniaina Dessica RAHAJASON,Analavory,2025-11-11
2,465462,2020-11-25,2021-11-10,12,01150000004-01-0342207-00001,3902600.0,0.00,0,1,MF COMMERCE,François Michel Aimé RAKOTONANDRIANA,Mahajanga,2025-11-11
3,39187,2019-12-19,2020-12-21,12,01150000006-01-0039187-00001,2772900.0,0.00,0,1,MF COMMERCE,Zahaniny Justo ZAFY,Antsohihy,2025-11-11
4,45521,2020-02-26,2021-02-26,12,01150000006-01-0045521-00002,1027000.0,0.00,0,2,MF COMMERCE,Dano Hardy Hamatra ANDRIAMANDIMBY,Antsohihy,2025-11-11
5,41668,2020-03-17,2023-05-11,36,01150000006-02-0041668-00001,39026000.0,28771912.65,1429,1,PME COMMERCE,Dano Hardy Hamatra ANDRIAMANDIMBY,Antsohihy,2025-11-11

In [4]:
dfLoan.columns

Index(['clientID', 'RealDisbursementDate', 'MaturityDateCurrent',
       'InstallmentsCurrent', 'AgreementNumber', 'DisbursedAmount', 'Encours',
       'DaysInArrears', 'Cycle', 'Product', 'LoanOfficer', 'Branch',
       'CreationDate'],
      dtype='object')

In [29]:
dfLoan[['clientID' , 'Cycle']]

         clientID  Cycle
0       999999198      1
1           16923      2
2          465462      1
3           39187      1
4           45521      2
...           ...    ...
156517    1279037      1
156518     349266      1
156519       8346      1
156520      30812      1
156521      87946      1

[156522 rows x 2 columns]

In [43]:
dfLoan[(dfLoan['clientID'] == 16923) | (dfLoan['clientID'] == 87946)]

,clientID,RealDisbursementDate,MaturityDateCurrent,InstallmentsCurrent,AgreementNumber,DisbursedAmount,Encours,DaysInArrears,Cycle,Product,LoanOfficer,Branch,CreationDate
1,16923,2020-03-24,2021-03-24,12,01150000003-01-0016923-00002,10270000.0,0.00,0,2,MF ELEVAGE,Santamamiratriniaina Dessica RAHAJASON,Analavory,2025-11-11
156521,87946,2019-09-19,2026-03-10,77,04-07-1209481,30810000.0,3434426.07,0,1,PME SERVICES ET PRODUCTION,RATSIMBA NARITIANA JOCELYN,Toamasina,2025-11-11

In [45]:
dfLoan[dfLoan['Branch'] == "Mahajanga"]

,clientID,RealDisbursementDate,MaturityDateCurrent,InstallmentsCurrent,AgreementNumber,DisbursedAmount,Encours,DaysInArrears,Cycle,Product,LoanOfficer,Branch,CreationDate
2,465462,2020-11-25,2021-11-10,12,01150000004-01-0342207-00001,3902600.00,0.00,0,1,MF COMMERCE,François Michel Aimé RAKOTONANDRIANA,Mahajanga,2025-11-11
23,412483,2020-01-31,2021-02-01,12,01150000004-01-0030876-00002,2567500.00,0.00,0,2,MF COMMERCE,François Michel Aimé RAKOTONANDRIANA,Mahajanga,2025-11-11
2404,24257,2025-01-31,2026-02-16,12,01150004-01-0024257-00009,1621312.84,1109157.20,0,9,MF ELEVAGE,François Michel Aimé RAKOTONANDRIANA,Mahajanga,2025-11-11
2405,24369,2025-08-31,2028-09-11,36,01150004-01-0024369-00006,15088502.27,14955976.28,0,6,MF SERVICES ET PRODUCTION,Anja Namboloina RAKOTONIAINA,Mahajanga,2025-11-11
2406,24490,2025-06-27,2027-07-08,24,01150004-01-0024490-00001,12746742.31,11675609.41,0,1,CREDIT HABITAT,Ramanitrarivelo Tojonirina RAKOTONDRABARY,Mahajanga,2025-11-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139741,1106778,2025-07-09,2025-11-10,4,01150999-01-1106778-00003,730000.00,193365.44,0,3,CREDIT EDUCATION,Natacha RAZAFY,Mahajanga,2025-11-11
139747,1112703,2025-10-14,2026-02-20,4,01150999-01-1112703-00003,520000.00,520000.00,0,3,CREDIT EDUCATION,HANTANIRINA MIRRIAME RAVELOARISOA,Mahajanga,2025-11-11
139788,401619,2025-08-12,2027-02-05,18,01150999-02-0401619-00054,16588461.40,14264987.18,0,54,PME SERVICES ET PRODUCTION,HANTANIRINA MIRRIAME RAVELOARISOA,Mahajanga,2025-11-11
139812,877803,2024-07-17,2026-07-16,24,01150999-04-0877803-00002,8995979.22,4053330.31,0,2,CREDIT HABITAT,Andriandray Hasina RAKOTOVAO,Mahajanga,2025-11-11
156520,30812,2019-08-23,2023-07-17,47,04-07-0321070,28756000.00,22995333.85,1669,1,PME SERVICES ET PRODUCTION,Gaston FALIMANANA,Mahajanga,2025-11-11

In [63]:
dfLoan.iloc[2,3]

np.int64(12)

In [5]:
dfLoan['interest'] = 0

In [6]:
dfLoan

,clientID,RealDisbursementDate,MaturityDateCurrent,InstallmentsCurrent,AgreementNumber,DisbursedAmount,Encours,DaysInArrears,Cycle,Product,LoanOfficer,Branch,CreationDate,interest
0,999999198,2020-10-27,2023-11-13,36,01150000001-01-0340457-00001,10270000.0,1863693.49,848,1,MF SERVICES ET PRODUCTION,Noëlin Tiana RAVELOMANANTSOA,Antsahavola,2025-11-11,0
1,16923,2020-03-24,2021-03-24,12,01150000003-01-0016923-00002,10270000.0,0.00,0,2,MF ELEVAGE,Santamamiratriniaina Dessica RAHAJASON,Analavory,2025-11-11,0
2,465462,2020-11-25,2021-11-10,12,01150000004-01-0342207-00001,3902600.0,0.00,0,1,MF COMMERCE,François Michel Aimé RAKOTONANDRIANA,Mahajanga,2025-11-11,0
3,39187,2019-12-19,2020-12-21,12,01150000006-01-0039187-00001,2772900.0,0.00,0,1,MF COMMERCE,Zahaniny Justo ZAFY,Antsohihy,2025-11-11,0
4,45521,2020-02-26,2021-02-26,12,01150000006-01-0045521-00002,1027000.0,0.00,0,2,MF COMMERCE,Dano Hardy Hamatra ANDRIAMANDIMBY,Antsohihy,2025-11-11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156517,1279037,2025-11-06,2025-12-06,1,01152001-07-1279037-00001,6000.0,6000.00,0,1,DFS M-KAJY (NANO),Tovo RAKOTOZANANY,Mkajy orange,2025-11-11,0
156518,349266,2019-09-12,2020-09-15,12,04-01-1111218,924300.0,0.00,0,1,MF COMMERCE,Luc Isidore LIMBIRAZANA,Marovoay,2025-11-11,0
156519,8346,2019-02-28,2025-12-26,80,04-07-0025298,143990000.0,5602424.69,0,1,PME SERVICES ET PRODUCTION,Tsirimpitiavana RAKOTONDRAZAFY,Antsahavola,2025-11-11,0
156520,30812,2019-08-23,2023-07-17,47,04-07-0321070,28756000.0,22995333.85,1669,1,PME SERVICES ET PRODUCTION,Gaston FALIMANANA,Mahajanga,2025-11-11,0
156521,87946,2019-09-19,2026-03-10,77,04-07-1209481,30810000.0,3434426.07,0,1,PME SERVICES ET PRODUCTION,RATSIMBA NARITIANA JOCELYN,Toamasina,2025-11-11,0

In [7]:
test = dfLoan.head(15)
test

,clientID,RealDisbursementDate,MaturityDateCurrent,InstallmentsCurrent,AgreementNumber,DisbursedAmount,Encours,DaysInArrears,Cycle,Product,LoanOfficer,Branch,CreationDate,interest
0,999999198,2020-10-27,2023-11-13,36,01150000001-01-0340457-00001,10270000.00,1863693.49,848,1,MF SERVICES ET PRODUCTION,Noëlin Tiana RAVELOMANANTSOA,Antsahavola,2025-11-11,0
1,16923,2020-03-24,2021-03-24,12,01150000003-01-0016923-00002,10270000.00,0.00,0,2,MF ELEVAGE,Santamamiratriniaina Dessica RAHAJASON,Analavory,2025-11-11,0
2,465462,2020-11-25,2021-11-10,12,01150000004-01-0342207-00001,3902600.00,0.00,0,1,MF COMMERCE,François Michel Aimé RAKOTONANDRIANA,Mahajanga,2025-11-11,0
3,39187,2019-12-19,2020-12-21,12,01150000006-01-0039187-00001,2772900.00,0.00,0,1,MF COMMERCE,Zahaniny Justo ZAFY,Antsohihy,2025-11-11,0
4,45521,2020-02-26,2021-02-26,12,01150000006-01-0045521-00002,1027000.00,0.00,0,2,MF COMMERCE,Dano Hardy Hamatra ANDRIAMANDIMBY,Antsohihy,2025-11-11,0
5,41668,2020-03-17,2023-05-11,36,01150000006-02-0041668-00001,39026000.00,28771912.65,1429,1,PME COMMERCE,Dano Hardy Hamatra ANDRIAMANDIMBY,Antsohihy,2025-11-11,0
6,59291,2020-06-22,2021-07-06,12,01150000008-01-0059291-00002,3594500.00,0.00,0,2,MF COMMERCE,Houssen MOUSTAFA,Ambanja,2025-11-11,0
7,74401,2019-12-28,2020-12-28,12,01150000011-01-0074401-00001,4108000.00,0.00,0,1,MF COMMERCE,Odon Michel Tsiory ANDRIAFANOMEZANTSOA,Mampikony,2025-11-11,0
8,339820,2020-10-19,2023-10-16,36,01150000014-02-0339820-00001,21567000.00,0.00,0,1,PME COMMERCE,Lalanirina RAHAJANIAINA,Ankasina,2025-11-11,0
9,328207,2019-12-23,2022-06-23,30,01150000014-04-0328207-00001,1012000.00,0.00,0,1,CREDIT HABITAT,Mamy Hasina FANJA ANDRIAMANANTENA,Ankasina,2025-11-11,0
10,1866,2023-12-29,2025-01-02,12,01150001-01-0001866-00008,5192171.48,513711.66,341,8,MF SERVICES ET PRODUCTION,LUCIEN NAKOLO,Antsahavola,2025-11-11,0
11,3200,2025-01-22,2026-01-20,12,01150001-01-0003200-00011,4417217.41,1235307.50,0,11,MF SERVICES ET PRODUCTION,Nirina Jean Perlin RAKOTONDRANOSY,Antsahavola,2025-11-11,0
12,4840,2024-11-11,2026-11-05,24,01150001-01-0004840-00001,5152304.33,2965718.16,0,1,MF SERVICES ET PRODUCTION,Nirina Jean Perlin RAKOTONDRANOSY,Antsahavola,2025-11-11,0
13,5942,2023-08-30,2025-09-05,24,01150001-01-0005942-00002,8569052.22,283223.45,65,2,MF SERVICES ET PRODUCTION,Mamy Santatriniana RAFANOMEZANTSOA,Antsahavola,2025-11-11,0
14,6008,2025-01-30,2026-02-16,12,01150001-01-0006008-00006,2286613.40,853313.05,0,6,MF COMMERCE,LUCIEN NAKOLO,Antsahavola,2025-11-11,0

In [8]:
for rowIndex in range(0,len(test)):
    test.iloc[rowIndex , 13] = int(test.iloc[rowIndex , 6] * 0.32)

test

,clientID,RealDisbursementDate,MaturityDateCurrent,InstallmentsCurrent,AgreementNumber,DisbursedAmount,Encours,DaysInArrears,Cycle,Product,LoanOfficer,Branch,CreationDate,interest
0,999999198,2020-10-27,2023-11-13,36,01150000001-01-0340457-00001,10270000.00,1863693.49,848,1,MF SERVICES ET PRODUCTION,Noëlin Tiana RAVELOMANANTSOA,Antsahavola,2025-11-11,596381
1,16923,2020-03-24,2021-03-24,12,01150000003-01-0016923-00002,10270000.00,0.00,0,2,MF ELEVAGE,Santamamiratriniaina Dessica RAHAJASON,Analavory,2025-11-11,0
2,465462,2020-11-25,2021-11-10,12,01150000004-01-0342207-00001,3902600.00,0.00,0,1,MF COMMERCE,François Michel Aimé RAKOTONANDRIANA,Mahajanga,2025-11-11,0
3,39187,2019-12-19,2020-12-21,12,01150000006-01-0039187-00001,2772900.00,0.00,0,1,MF COMMERCE,Zahaniny Justo ZAFY,Antsohihy,2025-11-11,0
4,45521,2020-02-26,2021-02-26,12,01150000006-01-0045521-00002,1027000.00,0.00,0,2,MF COMMERCE,Dano Hardy Hamatra ANDRIAMANDIMBY,Antsohihy,2025-11-11,0
5,41668,2020-03-17,2023-05-11,36,01150000006-02-0041668-00001,39026000.00,28771912.65,1429,1,PME COMMERCE,Dano Hardy Hamatra ANDRIAMANDIMBY,Antsohihy,2025-11-11,9207012
6,59291,2020-06-22,2021-07-06,12,01150000008-01-0059291-00002,3594500.00,0.00,0,2,MF COMMERCE,Houssen MOUSTAFA,Ambanja,2025-11-11,0
7,74401,2019-12-28,2020-12-28,12,01150000011-01-0074401-00001,4108000.00,0.00,0,1,MF COMMERCE,Odon Michel Tsiory ANDRIAFANOMEZANTSOA,Mampikony,2025-11-11,0
8,339820,2020-10-19,2023-10-16,36,01150000014-02-0339820-00001,21567000.00,0.00,0,1,PME COMMERCE,Lalanirina RAHAJANIAINA,Ankasina,2025-11-11,0
9,328207,2019-12-23,2022-06-23,30,01150000014-04-0328207-00001,1012000.00,0.00,0,1,CREDIT HABITAT,Mamy Hasina FANJA ANDRIAMANANTENA,Ankasina,2025-11-11,0
10,1866,2023-12-29,2025-01-02,12,01150001-01-0001866-00008,5192171.48,513711.66,341,8,MF SERVICES ET PRODUCTION,LUCIEN NAKOLO,Antsahavola,2025-11-11,164387
11,3200,2025-01-22,2026-01-20,12,01150001-01-0003200-00011,4417217.41,1235307.50,0,11,MF SERVICES ET PRODUCTION,Nirina Jean Perlin RAKOTONDRANOSY,Antsahavola,2025-11-11,395298
12,4840,2024-11-11,2026-11-05,24,01150001-01-0004840-00001,5152304.33,2965718.16,0,1,MF SERVICES ET PRODUCTION,Nirina Jean Perlin RAKOTONDRANOSY,Antsahavola,2025-11-11,949029
13,5942,2023-08-30,2025-09-05,24,01150001-01-0005942-00002,8569052.22,283223.45,65,2,MF SERVICES ET PRODUCTION,Mamy Santatriniana RAFANOMEZANTSOA,Antsahavola,2025-11-11,90631
14,6008,2025-01-30,2026-02-16,12,01150001-01-0006008-00006,2286613.40,853313.05,0,6,MF COMMERCE,LUCIEN NAKOLO,Antsahavola,2025-11-11,273060

In [5]:
dfLoan['paid'] = dfLoan['DisbursedAmount'] - dfLoan['Encours']
dfLoan

,clientID,RealDisbursementDate,MaturityDateCurrent,InstallmentsCurrent,AgreementNumber,DisbursedAmount,Encours,DaysInArrears,Cycle,Product,LoanOfficer,Branch,CreationDate,paid
0,999999198,2020-10-27,2023-11-13,36,01150000001-01-0340457-00001,10270000.0,1863693.49,848,1,MF SERVICES ET PRODUCTION,Noëlin Tiana RAVELOMANANTSOA,Antsahavola,2025-11-11,8.406307e+06
1,16923,2020-03-24,2021-03-24,12,01150000003-01-0016923-00002,10270000.0,0.00,0,2,MF ELEVAGE,Santamamiratriniaina Dessica RAHAJASON,Analavory,2025-11-11,1.027000e+07
2,465462,2020-11-25,2021-11-10,12,01150000004-01-0342207-00001,3902600.0,0.00,0,1,MF COMMERCE,François Michel Aimé RAKOTONANDRIANA,Mahajanga,2025-11-11,3.902600e+06
3,39187,2019-12-19,2020-12-21,12,01150000006-01-0039187-00001,2772900.0,0.00,0,1,MF COMMERCE,Zahaniny Justo ZAFY,Antsohihy,2025-11-11,2.772900e+06
4,45521,2020-02-26,2021-02-26,12,01150000006-01-0045521-00002,1027000.0,0.00,0,2,MF COMMERCE,Dano Hardy Hamatra ANDRIAMANDIMBY,Antsohihy,2025-11-11,1.027000e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156517,1279037,2025-11-06,2025-12-06,1,01152001-07-1279037-00001,6000.0,6000.00,0,1,DFS M-KAJY (NANO),Tovo RAKOTOZANANY,Mkajy orange,2025-11-11,0.000000e+00
156518,349266,2019-09-12,2020-09-15,12,04-01-1111218,924300.0,0.00,0,1,MF COMMERCE,Luc Isidore LIMBIRAZANA,Marovoay,2025-11-11,9.243000e+05
156519,8346,2019-02-28,2025-12-26,80,04-07-0025298,143990000.0,5602424.69,0,1,PME SERVICES ET PRODUCTION,Tsirimpitiavana RAKOTONDRAZAFY,Antsahavola,2025-11-11,1.383876e+08
156520,30812,2019-08-23,2023-07-17,47,04-07-0321070,28756000.0,22995333.85,1669,1,PME SERVICES ET PRODUCTION,Gaston FALIMANANA,Mahajanga,2025-11-11,5.760666e+06
156521,87946,2019-09-19,2026-03-10,77,04-07-1209481,30810000.0,3434426.07,0,1,PME SERVICES ET PRODUCTION,RATSIMBA NARITIANA JOCELYN,Toamasina,2025-11-11,2.737557e+07

In [ ]:
set(dfLoan['Product'].tolist())

{'AVANCE SUR COMPTE A TERME',
 'CREDIT CONSOMMATION',
 'CREDIT EDUCATION',
 'CREDIT HABITAT',
 'DFS M-KAJY (NANO)',
 'DFS M-KAJY PRO (BBOOST)',
 'FLASH LOAN - DAT',
 'FLASH LOAN - EPARGNE',
 'FLASH LOAN - PRET ACTIF',
 'FLASH LOAN - PRET ACTIF & EPARGNE',
 'FLASH LOAN - PRET CLOTURE',
 'Loan Automation Plus - PME COMMERCE',
 'Loan Automation Plus - PME SERVICE ET PRODUCTION',
 'MF AGRICULTURE',
 'MF COMMERCE',
 'MF ELEVAGE',
 'MF GCV',
 'MF SERVICES ET PRODUCTION',
 'PME AGRICULTURE',
 'PME COMMERCE',
 'PME ELEVAGE',
 'PME GCV',
 'PME SERVICES ET PRODUCTION',
 'PRET AU PERSONNEL'}

In [ ]:
import pandas as pd
import psycopg2

connexion = psycopg2.connect(host='10.42.0.1' , port=5432 , dbname ='postgres' , user='asja' , password='asjauniversity')

sqlQuery= 'SELECT * FROM public.account'

dfLoan = pd.read_sql(sqlQuery , connexion)






def formatRIB(agentCode , idCode ):
    result = ''
    splitedAgentCode =str(agentCode).split(' ')
    splitedIdCode = str(idCode)
    result= '000000000000000000000000000' +splitedIdCode
    result= result[-11:]
    return splitedAgentCode[0] + ' '+ splitedAgentCode[1] + ' '+ result + ' ' + splitedAgentCode[3]  
         



    


dfLoan['formattedAcount']  = dfLoan.apply(lambda row : formatRIB(row['AccountNumber'] , row['accountID']) , axis =1 )
dfLoan

/tmp/ipykernel_3957/3137463630.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfLoan = pd.read_sql(sqlQuery , connexion)

,clientID,AccountNumber,accountID,PrincipalBalanceCRY,Produit,openingDate,formattedAcount
0,927465,00115 00009 70000047540 17,10812546,750.06,Compte a vue,2023-02-20,00115 00009 00010812546 17
1,410809,00115 00004 70000047557 41,10815120,15054.40,Compte a vue,2023-02-20,00115 00004 00010815120 41
2,927479,00115 00017 70000047562 25,10815924,2203599.87,Compte a vue,2023-02-20,00115 00017 00010815924 25
3,926982,00115 00007 70000047567 63,10816692,2647.23,Compte a vue,2023-02-20,00115 00007 00010816692 63
4,926683,00115 00007 70000047571 51,10817311,9960.32,Compte a vue,2023-02-20,00115 00007 00010817311 51
...,...,...,...,...,...,...,...
730800,789142,00115 02001 80000308795 55,7045983,0.00,DFS Saving Account,2021-06-30,00115 02001 00007045983 55
730801,789154,00115 02001 80000308804 28,7046083,1.60,DFS Saving Account,2021-06-30,00115 02001 00007046083 28
730802,789156,00115 02001 80000308806 22,7046098,1.09,DFS Saving Account,2021-06-30,00115 02001 00007046098 22
730803,789157,00115 02001 80000308807 19,7046216,0.82,DFS Saving Account,2021-06-30,00115 02001 00007046216 19
730804,789161,00115 02001 80000308811 07,7046298,0.00,DFS Saving Account,2021-06-30,00115 02001 00007046298 07

In [22]:
Set1 = {1, 2 , 3}
Set2 = {2}
Set3 = {2}
Set1 & Set2 & Set3

{2}

In [ ]:
listParameters = [2, 30 , 150 , 180 , 7 , 111 , 20,8,113,330,1950]

def sumThreeAndFiveDivisible(listParamaters):
    result = 0
    for value in listParamaters:
        if ((value % 3== 0) and (value % 5== 0)  ) :
            result += value
    return result
        
sumThreeAndFiveDivisible(listParameters)

2640

In [ ]:
myList = [2, 30 , 150 , 180 , 7 , 111 , 20,8,113,330,1950]

def findMaxValueIndexOfSevenDivisible(listParameters):
    resteList = []
    maxValueIndex = []
    duplicateValue = []
    for value in listParameters:
        resteList.append(value % 7)
        
    for index, value in enumerate(resteList):
        if(resteList.count(value) > 1):
            duplicateValue.append(resteList[index])

    for index , value in enumerate(resteList):
        if value == max(resteList):
            maxValueIndex.append(index)
                
    return maxValueIndex

findMaxValueIndexOfSevenDivisible(myList)

[5, 6]

In [ ]:
myList = [2, 30 , 150 , 180 , 7 , 111 , 20,8,113,330,1950]

x = [ value + 1 for value in myList]
x

[3, 31, 151, 181, 8, 112, 21, 9, 114, 331, 1951]

In [82]:
dataPerson = [{
    'Name': 'Koto' , 'Age':12
} , {
    'Name': 'Rova' , 'Age':13
} ,{
    'Name': 'Mino' , 'Age':15
} ,]


for index , value in enumerate(dataPerson):
    value['Age'] = value['Age'] +5
    if( value['Age'] >=18):
        value['Status'] = 'Majeur'
    else :
        value['Status'] = 'Mineur'

dataPerson

[{'Name': 'Koto', 'Age': 17, 'Status': 'Mineur'},
 {'Name': 'Rova', 'Age': 18, 'Status': 'Majeur'},
 {'Name': 'Mino', 'Age': 20, 'Status': 'Majeur'}]

deraMMM
kotoMMM